body {
  display: grid;
  grid-template-areas:
    "cabecera"
    "carro"
    "footer";
  grid-template-rows: 150px auto 220px;
  gap: 1em;
}

header {
  grid-area: cabecera;
}

.tabla {
  grid-area: carro;
  display: flex;
  justify-content: center;
}
table {
  width: 1200px;
  text-align: center;
  border: solid 2px #74d3ae;
}

table td {
  padding: 1em;
  background-color: white;
}

table th {
  padding: 1em;
}

.tabla img {
  width: 250px;
  border: solid 2px #9740c0;
}

table .productoElem {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

table #conceptos {
  background-color: #9740c0;
}

table #total td {
  background-color: #9740c0;
  text-align: center;
}
table input {
  padding: 0.5em;
  border: solid 2px #9740c0;
  text-align: center;
}

table label {
  font-weight: bolder;
}

footer {
  grid-area: footer;
}
